anyio==3.6.1
argon2-cffi==21.3.0
argon2-cffi-bindings==21.2.0
asttokens==2.2.1
attrs==22.2.0
beautifulsoup4==4.11.2
bleach==5.0.1
cffi==1.15.1
chardet==4.0.0
charset-normalizer==2.1.1
cycler==0.11.0
d2l==0.17.6
debugpy==1.6.6
defusedxml==0.7.1
executing==1.2.0
fastjsonschema==2.16.1
fonttools==4.37.1
idna==2.10
importlib-metadata==5.1.0
ipykernel==6.21.2
ipython-genutils==0.2.0
ipywidgets==8.0.4
jedi==0.18.2
Jinja2==3.1.2
jsonschema==4.17.3
jupyter==1.0.0
jupyter-console==6.6.3
jupyter-server==1.23.6
jupyterlab-pygments==0.2.2
jupyterlab-widgets==3.0.5
kiwisolver==1.4.4
MarkupSafe==2.1.2
matplotlib==3.5.1
mistune==2.0.5
nbclassic==0.5.3
nbclient==0.7.2
nbconvert==7.2.5
nbformat==5.7.0
notebook==6.5.2
notebook_shim==0.2.2
numpy==1.21.5
nvidia-cublas-cu11==11.10.3.66
nvidia-cuda-nvrtc-cu11==11.7.99
nvidia-cuda-runtime-cu11==11.7.99
nvidia-cudnn-cu11==8.5.0.96
pandas==1.2.4
pandocfilters==1.5.0
Pillow==9.3.0
platformdirs==3.0.0
prometheus-client==0.14.1
psutil==5.9.4
pycparser==2.21
Pygments==2.14.0
pyparsing==3.0.9
pyrsistent==0.19.3
pytz==2022.6
pyzmq==24.0.1
qtconsole==5.4.0
QtPy==2.3.0
requests==2.25.1
Send2Trash==1.8.0
sniffio==1.2.0
soupsieve==2.4
stack-data==0.6.2
terminado==0.17.0
tinycss2==1.1.1
torch==1.13.0
torchvision==0.14.0
traitlets==5.9.0
typing_extensions==4.5.0
urllib3==1.26.13
webencodings==0.5.1
websocket-client==1.5.1
widgetsnbextension==4.0.5
zipp==3.15.0
